name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  main:
    name: Test and release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest -v

      - name: Check formatting
        run: uv run ruff format --check bolt_control_flow examples tests

      - name: Check imports
        run: uv run ruff check --select I bolt_control_flow examples tests

      - name: Build docs
        run: |
          mkdir gh-pages
          touch gh-pages/.nojekyll
          cd docs/
          poetry run make html
          cp -r build/* ../gh-pages/

      - name: Release
        if: |
          github.repository == 'vdvman1/bolt-control-flow'
          && github.event_name == 'push'
          && github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "action@github.com"
          uv run semantic-release publish -v DEBUG -D commit_author="github-actions <action@github.com>"

      - name: Publish docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: gh-pages
